###  IF, ELIF, ELSE

In [1]:
# Ten cuidado con las identaciones!!!! si se cumple una condicion hacemos otra, if true siempre va a ser verdadero, si no es verdad no ejecuta el codigo
if True:
        print('It was true!')

It was true!

In [2]:
#como x es false sale la otra opcion
x = False

if x:
        print('x was True!')
else:
        print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [ ]:
#if es la primera condicion, luego elif y por ultimo else, se pueden poner los elif que queramos
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

In [3]:
person = 'Sammy'

if person == 'Sammy':
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?")

Welcome Sammy!

In [4]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome George!

### FOR LOOPS

In [5]:
#for para realizar un numero determinado de veces una accion
#para cada elemento (num) en la lista imprime cada elemento(num)
list1 = [1,2,3,4,5,6,7,8,9,10]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Solo ponemos los pares
for num in list1:
    if num % 2 == 0:
        print(num)

In [6]:
#para cada numero en la lista si el modulo dividivo entre 2 es 0 (tendria que ser un nuemro par) y sino se realiza la otra accion
#para poner los impares con !=0 ( es decir que el resto sea diferente de 0)
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [8]:
# Este bucle suma los elmentos de la lista
# Comienza la suma en 0
#Para cada elemto de la lista me lo vas a sumar al elemto vacio que hemos creado al pricipio, si queremos imprimir la suma ponemos print(list_sum )dentro del bucle
list_sum = 0 

for num in list1:
    list_sum = list_sum + num
    print(list_sum)
print(list_sum)

1
3
6
10
15
21
28
36
45
55
55

In [ ]:
# Una variación
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

In [9]:
# También podemos iterar strings
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [10]:
# También iteramos tuplas
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [11]:
# ¿Y si tenemos tuplas dentro de listas?
list2 = [(2,4),(6,8),(10,12)]
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [12]:
# Aquí desglosamos cada tupla
for (t1,t2) in list2:
    print(t1)

2
6
10

In [15]:
# Ahora vamos a por los diccionarios
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [16]:
# Fíjate que en el anterior solamente nos muestra las keys, pero nosotros también queremos ver los valores
for k,i in d.items():
        print(k)
        print(i)

k1
1
k2
2
k3
3

In [17]:
# Como dato curioso, podemos obtener una lista de las keys o de los items de esta forma
list(d.keys())

['k1', 'k2', 'k3']

In [18]:
# También podemos ordenar los valores del diccionario!!!! Pero no dentro del diccionario, si no fuera de él.
# Recuerda que los diccionarios son desordenados en sí mismos de forma arbitraria
sorted(d.values())

[1, 2, 3]

### WHILE LOOPS

In [19]:

x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

In [20]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
All Done!

### BREAK, CONTINUE, PASS

In [21]:
# continue fuerza a volevr ahcia arriba
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

In [22]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [ ]:
# ¿Quieres petar tu ordenador? Corre esto. Para salir de aquí tendrás que pulsar en Kernel y restart. 
# Ctrl(Cmd)+C o Esc suele funcionar en la consola
#while True:
#    print("I'm stuck in an infinite loop!")

### Range

In [23]:
# Range() tiene tres argumentos, el inicio, el final y el paso. Fíjate en los índices del final
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
#de 0-101 de 10 en 10, tener en cuenta que el ultimo numero 101 no lo muestra
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### Enumerate

In [ ]:

index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

In [ ]:
for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

### In

In [26]:
'x' in ['x','y','z']

True

In [27]:
'x' in [1,2,3]

False

### Not in

In [28]:
'x' not in ['x','y','z']

False

In [29]:
'x' not in [1,2,3]

True

### Min, max

In [30]:
mylist = [10,20,30,40,100]
min(mylist)

10

In [31]:
max(mylist)

100

### Random

In [32]:
# Aquí vamos a importar shuffle que viene con la librería random. 
# Digamos que sirve para descolocar una lista
from random import shuffle
shuffle(mylist)
mylist

[100, 40, 20, 10, 30]

In [33]:
# Otra función es randint que nos genera un número entero aleatorio entre a y b, incluyendo tanto a a como a b
from random import randint
randint(0,100)

91

### Input

In [ ]:
#Sirve para guardar una variable por ejemplo
input('Pon algo aquí: ')

# EJERCICIOS

#### 1.- Emplea for, split() e if para crear un código que imprima todas las palabras que empiecen por 's'.

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
for palabra in st.split():
    if palabra[0] == 's':
        print(palabra)

#### 2.- Usa range() para hacer una lista con todos los números pares del 0 al 10

In [ ]:
list(range(0,11,2))

#### 3.- Recorre la siguiente string e imprime  solo las palabras que tengan una longitud par

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
for palabra in st.split():
    if len(palabra)%2 == 0:
        print(f'{palabra} tiene longitud par')

#### 4.- Escribe un pequeño algoritmo que imprima los enteros del 1 al 100. 
#### Para múltiplos de 3 escribe 'Fizz' en lugar del número
#### Para múltiplos de 5 escribe 'Buzz'
#### Para los que sean múltiplos de 3 y de 5 escribe 'FizzBuzz'

In [ ]:
for num in range(0,101):
    if num%3 == 0 and num%5 == 0:
        print("FizzBuzz")
    elif num%3==0:
        print("Fizz")
    elif num%5==0:
        print("Buzz")
    else:
        print(num)